
.slide-container-wrap {
  overflow: hidden;
  margin-left: 14.4%;
}

.slide-container {
  position: relative;
  width: 300vw;
  transition: transform 0.5s ease-in, 0.5s ease-out;
}

.slide-inner {
  width: 100vw;
  float: left;
}

.slide-inner img {
  width: 70%;
}