.slider{
  width: 1260px;
  height: 300px;
  overflow: hidden;
  margin: 0 18.5%;
}

.slider ul {
  position: relative;
  /* width: 3600px; */
  height: 900px;
}

.slider ul li {
  /* float: left; */
  width: 1200px;
  list-style: none;
}