body {
  margin: 0;
}

.item-list-container {
  display: flex;
  width: 66%;
  height: 10%;
  margin-left: 20%;
  margin-bottom: 40px;
  border-bottom: 1px solid #aaa;
}

.item-list-title {
  text-align: center;
  margin-top: 10px;
}

.item-list-title h2 {
  position: relative;
  font-size: 32px;
}

.item-list-see-more {
  margin-top: 40px;
  margin-left: auto;
  height: 14px;
}

.item-list-see-more h4 {
  position: relative;
  margin-top: 20px;
  color: #222;
  font-size: 14px;
}

.item-price {
  letter-spacing: 0.1rem;
  color: #222;
  list-style: none;
  margin-top: auto;
}

.view-more-a {
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.view-more-a h4:hover {
  color: #e86159;
}

.card {
  height: 420px !important;
}

.card-body {
  height: 170px !important;
}

.card img {
  padding: 2px;
  width: 240px;
  height: 240px;
}

.list-container {
  margin-left: 22% !important;
  width: 1200px;
}
