.cart-list-container {
  display: flex;
  width: 66%;
  height: 7%;
  margin-left: 20%;
  margin-bottom: 100px;
  border-bottom: 1px solid #aaa;
}

.cart-list-container > .cart-list-title {
  margin-top: 10px;
}

.cart-list-container > .cart-list-title > h2 {
  font-size: 32px;
  font-weight: 600;
}

.cart-list-wrap {
  width: 53%;
  display: flex;
  margin-left: 28%;
}

.cart-list-wrap .cart-list .cart-list-table {
  text-align: center;
}

.cart-list-wrap .cart-list .cart-list-table th {
  height: 40px;
  font-size: 18px;
  border-bottom: 1px solid #aaa;
}

.cart-list-wrap .cart-list .cart-list-table tr, td {
  padding: 10px;
}

.cart-list-wrap .cart-list .cart-list-table img {
  width: 100px;
  height: 100px;
}

.cart-list-wrap .cart-list .cart-list-table .choice {
  width: 100px;
}

.cart-list-wrap .cart-list .cart-list-table .image {
  width: 150px;
}

.cart-list-wrap .cart-list .cart-list-table .productName {
  width: 250px;
}

.cart-list-wrap .cart-list .cart-list-table .productPrice {
  width: 150px;
}

.cart-list-wrap .cart-list .cart-list-table .productQuantity {
  width: 120px;
}

.cart-list-wrap .cart-list .cart-list-table .productPriceToPay {
  width: 150px;
}

.cart-list-wrap .cart-list .cart-list-table .product-price {
  letter-spacing: 0.1rem;
}

.cart-list-wrap .cart-list .cart-list-table .form-select {
  width: 60px !important;
  height: 35px !important;
  margin-left: 23px;
}

.button-container {
  display: flex;
  margin-top: 40px;
}

.button-container input[type=button] {
  width: 200px;
  height: 50px;
}

.button-container .cancel-button-wrap {
  margin-left: auto;
}

.button-container .pay-button-wrap {
  margin-left: 480px;
}

.button-container .cancel-button {
  margin-left: 40px;
}

.won-symbol {
  display: none;
}

.price-text {
  font-size: 18px;
  font-weight: 600;
}

.price-to-pay-wrap {
  margin-left: 660px;
}

.won-symbol2 {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 600;
  display: none;
}

.price-to-pay-container {
  width: 100%;
}

.price-to-pay {
  font-size: 20px;
  font-weight: 600;
  color: #e86159;
  letter-spacing: 0.15rem;
  margin-left: 10px;
}

.product-price-to-pay {
  letter-spacing: 0.1rem;
}