* {
  box-sizing: border-box;
}

.detail-container {
  margin-top: 5%;
  margin-left: 23%;
  width: 60%;
  padding: 10px 20px;
}

.detail-container input[type=button]:hover {
  background-color: #333;
  color: #fff;
}

.title-container .title-wrap {
  margin-bottom: 30px;
}

.detail-container li {
  list-style: none;
  font-size: 16px;
}

.info-container {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.info-container .writer {
  margin-top: 4px;
}

.info-container .writer li {
  font-size: 18px;
  font-weight: lighter;
}

.info-container .date-hits-container {
  margin-left: auto;
  margin-bottom: 5px;
  height: 40px;
}

.date-hits-container li {
  font-size: 14px;
}

.contents {
  margin-bottom: 20px;
}

.contents-container {
  padding: 15px;
  word-break: break-all;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}

.contents-container li {
  font-size: 14px;
}

.button-container {
  display: flex;
  margin-bottom: 40px;
}

.button-container input[type=button] {
  border: 1px solid #4f4f4f;
  background-color: #eee;
  color: #222;
  width: 60px;
  height: 30px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 12px;
}

.button-container .edit-button,
.button-container .delete-button {
  margin-left: 20px;
}

.comment-container .add-comment-container .input-text {
  width: 85%;
  height: 58px;
  border: 1px solid #4f4f4f;
  border-radius: 2px;
}

.comment-container .add-comment-container {
  display: flex;
  height: 60px;
  margin-bottom: 60px;
}

.comment-container .add-comment-container .add-btn {
  margin-left: auto;
  width: 160px;
  height: 58px;
  font-size: 16px;
  border: 1px solid #4f4f4f;
  border-radius: 2px;
}

.list-comment-container {
  display: block;
  padding: 20px 10px;
  width: 100%;
  border-top: 1px solid #aaa;
}

.list-comment {
  display: flex;
  margin-bottom: 20px;
}

.list-comment-container .comment-writer {
  width: 160px;
  height: fit-content;
  word-break: keep-all;
}

.list-comment-container .comment-symbol {
  margin-left: 20px;
  color : #4f4f4f;
  margin-top: -1px;
}

.list-comment-container .comment-symbol2 {
  color: #4f4f4f;
  margin-left: 20px;
  margin-top: -1px;
}

.list-comment-container .comment-contents {
  width: 760px;
  margin-left: 20px;
  word-break: break-all;
}

.list-comment-container .comment-date {
  width: 100px;
  margin-left: 20px;
}