.container-wrap {
  width: 66%;
  margin-left: 20%;
  margin-bottom: 100px;
}

.order-list-container {
  display: flex;
  width: 66%;
  height: 10%;
  margin-left: 20%;
  margin-bottom: 100px;
  border-bottom: 1px solid #aaa;
}

.order-list-title {
  margin-top: 40px;
  height: fit-content;
}

.order-list-title h2 {
  font-size: 32px;
  font-weight: 600;
}