<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="History">
    <insert id="save" parameterType="history">
        INSERT INTO history_table (memberId, productName, productQuantity, productPrice, historyCreatedDate)
        VALUES (#{memberId}, #{productName}, #{productQuantity}, #{productPrice}, now())
    </insert>

    <select id="list" parameterType="String" resultType="history">
        SELECT * FROM history_table WHERE memberId = #{memberId} ORDER BY id DESC
    </select>
</mapper>