<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product">
    <insert id="save" parameterType="product">
        INSERT INTO product_table (productName, productContents, productPrice, productStock, productImageName)
        VALUES (#{productName}, #{productContents}, #{productPrice}, #{productStock}, #{productImageName})
    </insert>

    <select id="findAll" resultType="product">
        SELECT * FROM product_table
    </select>

    <select id="findById" parameterType="Long" resultType="product">
        SELECT * FROM product_table WHERE id = #{id}
    </select>

    <insert id="saveImg" parameterType="image">
        INSERT INTO image_table (productId, imageFileName)
        VALUES (#{productId}, #{imageFileName})
    </insert>

    <select id="findByProductId" parameterType="Long" resultType="image">
        SELECT * FROM image_table WHERE productId = #{productId}
    </select>

    <select id="findByProductIdForCart" parameterType="Long" resultType="product">
        SELECT * FROM product_table WHERE id = #{id}
    </select>
</mapper>